/* @override 
	http://0.0.0.0:3000/styles/styles.css */
	
	ul.Score {
		width: 100%;
		padding: 0;
		list-style-type: none;
		display: block;
		background-color: #c5e5f8;
		font-size: 72px;
		float: left;
		border-radius: 5px;
		margin-bottom: 50px;
	}
	
	ul.Score li{
		width: 50%;
		float: left;
		display: block;
		text-align: center;
	}
	
	ul.Score li.players{
		width:25%;
		border-bottom: 5px solid #067ac9; 
	}


	ul.Score li.players.blue{
		width:25%;
		border-bottom: 10px solid #067ac9; 
	}
	ul.Score li.players.red{
		width:25%;
		border-bottom: 10px solid #c90606; 
	}

	.red_points {
		color: #c90606;
		width: 50%;
		float: left;
	}
	
	
	.blue_points{
		color: #067ac9;
		width: 50%;
		float: left;
	}
	
	h1{
		text-align: center;
	}
	
	#clock{
		text-align: center;
		font-size: 24px;
		font-weight: 800;
	}

#scoreboard{
	display: none;
}