/* @override 
	http://0.0.0.0:3000/styles/styles.css
	http://0.0.0.0:3000/css/styles.css
	http://localhost:3000/css/styles.css */

body{
	font-weight: 200;
	background: url(../img/bg-large.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



a{
	color: #c90406;
}


a:hover, a:active{
	color: #0479c8;
}

nav.navbar.navbar-default.navbar-fixed-bottom {
	background-color: transparent;
	border-style: none;
}

#game-settings, #scoreboard {
	max-width: 500px;
	background-color: white;
	margin-top: 5%;
	border-radius: 5px;
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
	padding: 20px;
}


#scores {
	max-width: 500px;
	background-color: white;
	margin-top: 5%;
	border-radius: 5px;
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
	padding: 20px;
}


ul.Score {
	width: 100%;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	list-style-type: none;
	display: block;
	font-size: 60px;
	float: left;
/*	border-bottom: 1px solid #edeeed;*/
	font-weight: 100;
}

.btn-primary {
	background-color: #49c659;
	border-color: #5dc850;
}

.btn-primary:hover, .btn-primary:active {
	background-color: #33ac43;
	border-color: #3c8d68;
}




ul.Score li{
		width: 50%;
		float: left;
		display: block;
		text-align: center;
}
	
	ul.Score li.players{
		width:25%;
	}

	ul.Score li.players img{
		width: 100px;
		margin-bottom: 20px;
		margin-right: auto;
		margin-left: auto;
	}

	ul.Score li.players.blue img{
		border: 3px solid #057ac8;
		
	}
	ul.Score li.players.red img{
		border: 3px solid #c90506;
		
	}

	.red_points {
		color: #c90606;
		width: 50%;
		float: left;
	}
	
	
	.blue_points{
		color: #067ac9;
		width: 50%;
		float: left;
	}
	
	h1{
		text-align: center;
		margin-top: 0;
	}
	
	.tab-pane{
		padding-top: 20px;
		height: 190px;
		border-top: 1px solid #eceeec;
	}
	
	
	
	ul.nav.nav-tabs li a {
		border: none;
		border-bottom: 2px solid transparent;
		border-radius: 0px;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
	}
	
	#gamelogs{
		padding: 0 5px;
		height: 160px;
		overflow: scroll;
	}
	
#gamelogs li {
	list-style-type: none;
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid #eceeec;
	}
	#gamelogs li:last-of-type{
		border: none;
	}
	
	
	
	
	
	
	span.scoreby {
		font-weight: bold;
		padding-left: 10px;
	}
	
	span.point-time {
		color: #c90506;
		float: right;
	}
	
	ul.nav.nav-tabs li:hover a {
		background-color: transparent;
		border: none;
		border-bottom: 2px solid #49c558;
	}
	
	
	
	ul.nav.nav-tabs {
		border: none;
	}
	
	ul.nav.nav-tabs li.active a {
		border: none;
		border-bottom: 2px solid #49c558;
	}
	
	
	
	#clock{
		text-align: center;
		font-size: 24px;
		font-weight: 100;
		clear: both;
		border-top: 1px solid #edeeed;
		border-bottom: 1px solid #edeeed;
		padding-top: 10px;
		padding-bottom: 10px;
	}

#scoreboard{
	display: none;
/*	border-bottom: 15px solid #66c75a;
	border-top: 15px solid #66c75a;*/
}

div.player-points {
	font-size: 12px;
	background-color: red;
	color: white;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	text-align: center;
	line-height: 20px;
	position: relative;
	top: -37px;
	left: 20px;
	display: none;
	float: left;
	margin-bottom: -20px;
	font-weight: bold;
}

div#status {
	background-color: rgba(0, 0, 0, 0.73);
	padding: 5px 10px;
	color: #cb9a4f;
	font-size: 14px;
	border-radius: 3px;
}